* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(204, 203, 203);
    color: rgb(8, 6, 6);
}

nav {
    text-align: center;
    color: rgb(46, 45, 45);
}

nav h1 {
    font-size: 2.9rem;
    margin-top: 60px;
    margin-bottom: 30px;
}

p {
    font-size: 1rem;
}

.white-bg {
    height: 400px;
    background-color: white;
    margin: 20px 6rem 10px 6rem;
}

.img {
    text-align: center;
}

.timeline {
    text-align: center;
    margin: 55px 0 45px 0;
}

ul {
    margin-top: 3rem;
    max-width: 900px;
    text-align: center;
}

ul li {
    text-align: center;
    margin-left: 24rem;
    line-height: 1.7;
}

.quote {
    max-width: 920px;
    text-align: center;
    margin-left: 10rem;
    margin-top: 4rem;
}

footer {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

footer p {
    color: black;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
}